<h1><b>Welcome to Word Counter</b></h1>
<h2>Input a word</h2>
<form action='/count'>
  <div class="form-group">
    <label for="word">Enter your word here</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Look-up</button>
</form>
