<div class="container">
  <h1 style="text-align:center">Word Count</h1>

<form class="form" action="/result">
  <div class="form-group">
    <label for="number">Enter the word:</label>
    <input id="word" name="word" type="text" placeholder="enter your word" rows="4" class="form-control">
  </div>
  <div class="form-group">
    <label for="number">Enter the sentence:</label>
  <input id="sentence" name="sentence" type="text" placeholder="enter your sentence" rows="4" class="form-control">
  </div>
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
  
   </button>
</form>
